@import '../../scss/variables/colors';

.logo {
  height: 70px;
  position: relative;
  width: 100%;

  &::after {
    background-image: url(../../assets/LogoWolox.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: inherit;
    position: absolute;
    width: 212px;
  }
}
